Создание файла с данными о решениях игрока.
Для каждого решения, хоть раз принимавшегося каким-нибудь игроком, создается отдельная колонка. В нее пишется принимал ли хоть раз его соответствующий огрок или нет (one-hot).
Данные пишутся в файл data/preprocessed/user_decision_one_hot_all.csv

In [1]:
import pandas as pd

In [2]:
users_df = pd.read_csv('../data/raw/user.csv', index_col='user_id')
decision_df = pd.read_csv('../data/raw/user_decision.csv')

In [3]:
len(decision_df['decision_id'].unique())

343

In [4]:
decision_ids = decision_df['decision_id'].value_counts()[:].index
# decision_ids = decision_df[['decision_id', 'period']].value_counts().index

In [5]:
for decision in decision_ids:
    #one-hot decision only
    users_df[str(decision)] = users_df.apply(lambda user: ((decision_df['user_id']==user.name)&(decision_df['decision_id']==decision)).any(), axis = 1)

    # count of decisions
    # users_df[str(decision)] = users_df.apply(lambda user: ((decision_df['user_id']==user.name)&(decision_df['decision_id']==decision)).sum(), axis = 1)

    # decision_id = decision[0]
    # period = decision[1]
    # users_df[f'{str(decision_id)}_{period}'] = users_df.apply(lambda user: ((decision_df['user_id']==user.name)&(decision_df['decision_id']==decision_id)&(decision_df['period']==period)).any(), axis = 1)

In [ ]:
users_df = users_df.drop(columns=['team_id', 'game_id'])

In [ ]:
# Прроверяем что каждое решение хоть раз принималось
cols_no_info = []
for col in users_df.columns:
    if (users_df[col].sum()==0):
        cols_no_info.append(col)
users_df = users_df.drop(columns=cols_no_info)

In [7]:
users_df.head()

,team_id,game_id,386,25,27,26,276,329,331,330,...,347,9,8,216,231,7,233,346,261,258
user_id,,,,,,,,,,,,,,,,,,,,,
10189,1664,235,True,True,False,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
10018,1690,237,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10580,1394,194,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10600,1908,262,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10112,1592,219,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
users_df.drop(columns=['team_id', 'game_id']).to_csv('../data/preprocessed/user_decision_one_hot_all.csv')